<?xml version="1.0"?>
<robot name="sailbot">
   <link name="boat">
     <visual>
        <origin xyz="0 0 0.1" />
        <geometry>
            <box size="0.5 0.2 0.2" />
        </geometry>
     </visual>
   </link>

  <link name="sail">
    <visual>
      <origin xyz="0 0 0.3" />
      <geometry>
        <box size="0.3 0.01 0.3"/>
      </geometry>
    </visual>
  </link>


  <joint name="base_to_sail" type="floating">
    <parent link="boat"/>
    <child link="sail"/>
  </joint>
</robot>
