<launch>

<!-- <node pkg="test_loc" type="track.py" name="camnode" output="screen" /> -->

   <node pkg="rosserial_python" type="serial_node.py" name="serialbridge" >
<!--
      <param name="port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_2882080-if00" />
-->

      <param name="port" value="/dev/ttyACM0" />

   </node>

   <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="yaynode" respawn="true">
      <param name="port" value="/dev/ttyAMA0" />
      <param name="baud" value="9600" />
   </node>

   <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
      <rosparam command="load" file="$(find test_loc)/src/navsat.yaml" />
      <remap from="/imu/data" to="/imutopic" />
      <remap from="/gps/fix" to="/fix" />
   </node>

<!--
   <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_map" output="screen">
      <rosparam command="load" file="$(find test_loc)/src/localization1.yaml" />
   </node>
-->

   <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_boat" output="screen">
      <rosparam command="load" file="$(find test_loc)/src/localization2.yaml" />
   </node>



</launch>
