<launch>
    <node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node">
        <param name="gain" value="0.5" />
        <param name="zeta" value="0.001" />

        <param name="use_mag" value="true" />
        <param name="use_magnetic_field_msg" value="true" />

        <param name="publish_tf" value="true" />
        <param name="fixed_frame" value="odom" />
    </node>
<!--
    <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization" output="screen">
        <rosparam command="load" file="$(find sensors)/launch/config/localization.yaml" /> 
    </node>

    <node name="gps_serial" pkg="nmea_navsat_driver" type="nmea_serial_driver">
        <param name="port" value="/dev/ttyAMA0" />
        <param name="baud" value="9600" />


        <remap from="fix" to="/gps/fix" />
        <remap from="vel" to="/gps/vel" />
        <remap from="time_reference" to="/gps/time_reference" />
    </node>
-->

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0"/>
        <param name="yaw_offset" value="0" />
        <param name="wait_for_datum" value="false" />
<!--        <rosparam param="datum">[0, 0, 0.0, map, base_link]</rosparam> -->

    </node>
</launch>
